[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
opencv-python = "*"
flask = "*"
face-recognition = "*"
flask-cors = "*"
pymongo = "*"
pytz = "*"
scikit-learn = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.4"
